In [9]:
cal=int(input("Enter Calculas Marks : "))
eng=int(input("Enter English Marks : "))
math=int(input("Enter Maths Marks : "))
isl=int(input("Enter Islamiyat Marks : "))
cs=int(input("Enter Computer Science Marks : "))
obt_marks=cal+eng+math+isl+cs
per=obt_marks*100/500
print(per,"%")
if per >=80 and per <= 100:
    print("A+")
elif per >=70 and per < 80:
    print("A")
elif per >=60 and per < 70:
    print("B")
elif per >=50 and per < 60:
    print("C")
elif per >=40 and per < 50:
    print("D")
else:
    print("Fail")

Enter Calculas Marks : 89
Enter English Marks : 56
Enter Maths Marks : 45
Enter Islamiyat Marks : 67
Enter Computer Science Marks : 56
62.6 %
B

In [5]:
num=int(input("Enter a number"))
if num % 2 == 0:
    print("This is an even number")
else:
    print("This is an odd number")

Enter a number8
This is an even number

In [8]:
test_list=["raza",6,9,"ahmed",0,"ali"]
length=len(test_list)
print(length)

6

In [19]:
a_list=["2",6,10,"ali",4]
a1_list=[]
for i in a:
    if type(i)==int:
        a1_list.append(i)
sum(a1_list)

20

In [17]:
b_list=[12,7,2,26,134,988,33,344,652]
b_list.sort()
print(b_list)
b_list[-1]

[2, 7, 12, 26, 33, 134, 344, 652, 988]

988

In [16]:
c_list=[2,31,4,2,6,3,45,11,4,31]
for i in c_list:
    if i < 5:
        print(i)

2
4
2
3
4